# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LAZY_FERRIS_DONGLE_LEFT
	def_bool $(shields_list_contains,lazy_ferris_dongle_left)

config SHIELD_LAZY_FERRIS_DONGLE_RIGHT
	def_bool $(shields_list_contains,lazy_ferris_dongle_right)

config SHIELD_LAZY_FERRIS_DONGLE
	def_bool $(shields_list_contains,lazy_ferris_dongle)

config SHIELD_LAZY_FERRIS_NORM_LEFT
	def_bool $(shields_list_contains,lazy_ferris_norm_left)

config SHIELD_LAZY_FERRIS_NORM_RIGHT
	def_bool $(shields_list_contains,lazy_ferris_norm_right)


